@model Models.LoginModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login | Modulo de seguridad</title>
</head>
<body>
    <div>
        @Html.Label("Nombre de Usuario:")
        @Html.TextBoxFor(model => model.NombreUsuario)<br>
        @Html.Label("Clave:")
        @Html.TextBoxFor(model => model.Clave)<br>
        @using (Html.BeginForm("LoginCheck", "Login"))
        {
            <input type="submit" value="Login" />
        }
    </div>
</body>
</html>
